# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc
*.tsbuildinfo
.expo
.expo-shared

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Replit
.cache/
.local/

# local env files
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Scratch & temporary tooling
.kilo/
scratch/
ppt/
*.zip
*.log
artifacts/api-server/scratch/
artifacts/api-server/audit_and_export.*
artifacts/api-server/generate_contact_sheets.*
artifacts/api-server/run_audit.*
artifacts/api-server/scripts_dump.*
artifacts/api-server/scripts_update_decks.*
artifacts/creative-studio/scripts_clean_ds.mjs
artifacts/find_untitled.js
scratch_gen.js


